html,
body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
  grid-template-rows: 100vh;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.column.reverse {
  flex-direction: column-reverse;
}

img {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: 1vw;
  width: 100%;
}
